:root {
    --Nutmeg: hsl(14, 45%, 36%);
    --DarkRaspberry: hsl(332, 51%, 32%);
    --White: hsl(0, 0%, 100%);
    --RoseWhite: hsl(330, 100%, 98%);
    --Eggshell: hsl(30, 54%, 90%);
    --LightGrey: hsl(30, 18%, 87%);
    --WengeBrown: hsl(30, 10%, 34%);
    --DarkCharcoal: hsl(24, 5%, 18%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: var(--Eggshell);
    font-family: Outfit;
}

p {
    color: var(--WengeBrown);
}

.container {
    width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 123px 352px 124px 352px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 736px;
    gap: 40px;
    padding: 40px;

    background: var(--White);
    align-items: flex-start;
    border-radius: 24px;
}

header>img {
    width: 100%;
}

.title {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

h1 {
    font-family: 'Young Serif';
    font-size: 40px;
    font-weight: 400;
    line-height: 100%;
    color: var(--DarkCharcoal);
    align-self: stretch;
}

.desc {
    align-self: stretch;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.prep-time {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 32px 0;
    padding: 28px;
    background: var(--RoseWhite);
    border-radius: 12px;
}

.prep-time p {
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    color: var(--DarkRaspberry);
}

ul,
ol {
    display: flex;
    flex-direction: column;
    padding-left: 17px;
    gap: 8px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}

.prep-time li {
    display: flex;
    flex-direction: row;
    color: var(--WengeBrown);

}

span {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    color: var(--WengeBrown);
}


.instruction li:before,
.prep-time li:before,
.ingredients li:before {
    content: "";
    /* position: absolute; */
    transform: translateY(-50%);
    border-radius: 50%;
    left: 0;
    margin-top: 12px;
    margin-left: -13px;
    margin-right: 28px;
    /* half bullet height */
    width: 4px;
    height: 4px;
    background: var(--DarkRaspberry);
}

.ingredients {
    display: flex;
    flex-direction: column;
    gap: 24px
}

h2 {
    font-family: "Young Serif";
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    color: var(--Nutmeg);
}

.ingredients li {
    display: flex;
    flex-direction: row;
    color: var(--WengeBrown);
}

hr {
    margin: 32px 0;
    color: #E3DDD7;
}

.instruction {
    display: flex;
    flex-direction: column;
    gap: 24px;

}

.nutrition {
    display: flex;
    flex-direction: column;
    gap: 24px
}

table {

    border-collapse: collapse;


}

.nutrition-value {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    color: var(--Nutmeg);
}

.nutrition-prop {
    color: var(--WengeBrown);
}

td {
    padding: 12px 32px;
    /* Or any other value for spacing */
    border-bottom: 1px solid #ccc;
    /* Assuming a light gray dashed border */
}

tr:last-child td {
    border-bottom: none
}